/*
 * dts file for Hisilicon HiKey Development Board
 *
 * Copyright (C) 2015, Hisilicon Ltd.
 *
 */

/dts-v1/;

#include "hi6220.dtsi"
#include "hikey-gpio.dtsi"
#include "hikey-pinctrl.dtsi"

/ {
	model = "HiKey Development Board";
	compatible = "hisilicon,hi6220-hikey", "hisilicon,hi6220";

	aliases {
		serial0 = &uart0; /* On board UART0 */
		serial1 = &uart1; /* BT UART */
		serial2 = &uart2; /* LS Expansion UART0 */
		serial3 = &uart3; /* LS Expansion UART1 */
		spi0 = &spi_0;
	};

	chosen {
		stdout-path = "serial3:115200n8";
	};

	/*
	 * Reserve below regions from memory node:
	 *
	 *  - 0x05e0,0000 - 0x05ef,ffff: MCU firmware runtime using
	 *  - 0x06df,f000 - 0x06df,ffff: Mailbox message data
	 *  - 0x0740,f000 - 0x0740,ffff: MCU firmware section
	 *  - 0x3e00,0000 - 0x3fff,ffff: OP-TEE
	 */
	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x05e00000>,
		      <0x00000000 0x05f00000 0x00000000 0x00eff000>,
		      <0x00000000 0x06e00000 0x00000000 0x0060f000>,
		      <0x00000000 0x07410000 0x00000000 0x36bf0000>;
	};

	soc {
		dwmmc_2: dwmmc2@f723f000 {
			ti,non-removable;
			non-removable;
			/* WL_EN */
			vmmc-supply = <&wlan_en_reg>;

			#address-cells = <0x1>;
			#size-cells = <0x0>;
			wlcore: wlcore@2 {
				compatible = "ti,wl1835";
				reg = <2>;	/* sdio func num */
				/* WL_IRQ, WL_HOST_WAKE_GPIO1_3 */
				interrupt-parent = <&gpio1>;
				interrupts = <3 IRQ_TYPE_EDGE_RISING>;
			};
		};

		wlan_en_reg: fixedregulator@1 {
			compatible = "regulator-fixed";
			regulator-name = "wlan-en-regulator";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			/* WLAN_EN GPIO */
			gpio = <&gpio0 5 0>;
			/* WLAN card specific delay */
			startup-delay-us = <70000>;
			enable-active-high;
		};

		i2c2: i2c@f7102000 {
			status = "ok";

			#address-cells = <0x1>;
			#size-cells = <0x0>;
			adv7533: adv7533@39 {
				compatible = "adi,adv7533";
				reg = <0x39>;
				interrupt-parent = <&gpio1>;
				interrupts = <1 2>;
				pd-gpio = <&gpio0 4 0>;
				adi,dsi-lanes = <4>;

				port {
					adv_in: endpoint {
						remote-endpoint = <&dsi_out>;
					};
				};
			};
		};

		uart1: uart@f7111000 {
			status = "ok";
		};
	};

	kim {
		compatible = "kim";
		pinctrl-names = "default";
		pinctrl-0 = <>; /* FIXME: add BT PCM pinctrl here */
		/*
		 * FIXME: The following is complete CRAP since
		 * the vendor driver doesn't follow the gpio
		 * binding. Passing in a magic Linux gpio number
		 * here until we fix the vendor driver.
		 */
		/* BT_EN: BT_REG_ON_GPIO1_7 */
		nshutdown_gpio = <503>;
		dev_name = "/dev/ttyAMA1";
		flow_cntrl = <1>;
		baud_rate = <3000000>;
	};

	btwilink {
		compatible = "btwilink";
	};

};

&pmic {
	status = "okay";
};
